 .panel-body a {
      word-break: break-all;
    }

.jumbotron {
	background-color: #800080;
}

h1 {
	text-align: center; 
} 

p {
	text-align: center;
} 
.col-md-1 {
	font-weight: bold;
} 

.trentonExpress{
	font-size: 14px;
}
